html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* ======= GENERAL STYLE ===========*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    color: #777777;
}

.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.section-md {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-sm {
    padding-top: 100px;
    padding-bottom: 80px;
}

.section-xs {
    padding-top: 50px;
    padding-bottom: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

h1, h2, h3, h5, .team-member p, button, dt, .footer-text p  {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
    letter-spacing: 0.2em;
}

h2 {
    font-size: 18px;
    letter-spacing: 0.5em;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 30px;
}

h3 {
    font-size: 15px;
    font-weight: 400;
}

h4 {
    font-size: 12px;
    color: rgba(254, 254, 254, 0.68);
}

h5 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4em;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

[class*="icon-block"] {
    text-align: center;
}

[class*="icon-block"] span {
    font-size: 48px;
}

span + h5 {
    margin-top: 25px;
}

.bg-color-black {
    background-color: black;
}

.invert {
    color: rgba(255, 255, 255, 1);
}

.invert h2 {
    color: rgba(255, 255, 255, 1);
}

.invert p,
.invert q {
    opacity: 0.7;
}

.invert cite {
    opacity: 0.3;
}

[class*="col-"] .button {
    padding: 0 0 30px 0;
}

[class*="col-"] .button a {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
    border-radius: 2px;
    height: auto;
    padding: 8px 37px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

[class*="col-"] .button:hover a {
    background: rgba(255, 255, 255, 1);
}

.totop-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #c6c6c6;
    z-index: 100000;
    transition: 0.3s;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}

.totop-button:hover {
    cursor: pointer;
    border-bottom-color: #111;
}

.totop-button.show {
    opacity: 1;
    visibility: visible;
}



/* ======== Header style ======== */

.site-header {
    font-size: 15px;
    letter-spacing: 0.3em;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.menu-nav ul {
    display: flex;
    justify-content: space-between;
}

.menu-nav li {
    list-style-type: none;
    padding-left: 16px;
    padding-right: 16px;
}

.menu-nav a {
    font-size: 13px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

/* ======== END Header style ======== */

/* ======== MAIN | SECTION 1 style ======== */

.section-1 {
    background-image: url(../img/section-1-bg.jpg);
    background-size: cover;
    background-position: center;
    color: rgba(254, 254, 254, 0.9);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 125px;
    padding-bottom: 100px;
    position: relative;
}

.section-1 h1+h4 {
    margin-top: 26px;
}

.scrollto {
    display: block;
    position: absolute;
    left: auto;
    right: auto;
    bottom: 5%;
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    transform: rotate(45deg);
    padding-left: 7px;
}

.fa-angle-down {
    color: #222222;
    transform: rotate(-45deg);
}

/* ======== END MAIN | SECTION 1 style ======== */

/* ======== ABOUT US | SECTION 2 style ======== */

.text blockquote {
    line-height: 38px;
    font-size: 24px;
    font-weight: 300;
}

.text cite {
    font-weight: 400;
    line-height: 38px;
}

.team-member {
    padding-top: 80px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-align: center;
    justify-content: center;
}

.team-member img {
    width: 100%;
    height: auto;
}

.team-member p {
    font-size: 12px;
}

.team-member h3 {
    letter-spacing: 0.4em;
}

/* ======== END ABOUT US | SECTION 2 style ======== */

/* ======== SERVICES | SECTION 3 style ======== */

.section-3 h2 {
    text-align: center;
}

.list-service {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list-service li {
    list-style-type: none;
    padding: 15px 35px;
}

.icon-block {
    color: rgba(17, 17, 17, 0.75);
}

.icon-block:hover {
    color: rgba(17, 17, 17, 1);
}

/* =============== END SERVICES | SECTION 3 style ======== */

/* =============== iMAC | SECTION 4 Style ============== */

.section-4 h2 {
    font-weight: 300;
    letter-spacing: 0.3em;
}

.col-md-6_block {
    padding-top: 19%;
    padding-bottom: 17%;

}

.col-md-6 .text {
    margin-top: 15px;
    margin-bottom: 45px;
}

.imac {
    margin-top: -45px;
    position: relative;
    overflow: hidden;
}

.imac .imac-screen {
    position: absolute;
    overflow: hidden;
    top: 5.5%;
    left: 4.5%;
    right: 4.5%;
    height: 69%;
}

.imac img {
    max-width: 100%;
}

.imac-screen img {
    transition: 1.5s all ease-in-out;
}

.imac-screen:hover img {
    transition: 6s all linear;
    transform: translateY(-88%);
}

/* =============== END iMAC | SECTION 4 style ======== */

/* =============== PORTFOLIO | SECTION 5 Style ============== */

.portfolio {
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    text-align: center;
    
}

.portfolio .text {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* =============== END PORTFOLIO | SECTION 5 style ======== */

/* ============== ISOTOPE | SECTION 6 =============== */

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: 100%;
    filter: grayscale(1);
    transition: 0.2s;
}

.grid-item:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.grid-item img {
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.button-group button {
    display: inline-block;
    margin: 0 30px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.4em;
    color: rgba(17, 17, 17, 0.5);
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
    
}

.is-checked {
    color: rgba(17, 17, 17, 1);
}

/* ============== END ISOTOPE | SECTION 6 Style */

/* ========== START PROJECT | SECTION 7 Style ========== */

.col-lg-1 {
    text-align: center;
}

.section-7 h2 {
    font-weight: 300;
}

/* =============== END START PROJECT | SECTION 7 style ======== */

/* ========== WHY CHOOSE US | SECTION 8 Style ========== */

.section-8 h2 {
    text-align: center;
}

.icon-block-2 {
    margin: 20px 0;
    font-weight: 400;
    color: rgba(17, 17, 17, 1)
}

/* =============== END WHY CHOOSE US | SECTION 8 style ======== */

/* ===== CAROUSEL | WHAT PEOPLE SAY? | SECTION 9 ========== */

.section-140-25 {
    padding-top: 70px;
    padding-bottom: 25px;
}

.text-center {
    text-align: center;
}

.owl-item-inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 60%;
}

.owl-item-inner q {
    line-height: 30px;
}

.owl-item-inner cite {
    font-size: 11px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: block;
    margin-top: 20px;
    margin-bottom: 45px;
}

.noquotes::before , .noquotes::after {
    content: no-close-quote;
}

.icon-quote {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
}

.owl-dots span {
    width: 6px;
    height: 6px;
    display: block;
    background-color: rgba(254, 254, 254, 0.8);
    position: relative;
    z-index: 1000;
    border-radius: 50%;
    margin: 0 4px;
}

.owl-dots .active span {
    background-color: transparent;
    border: 1px solid rgba(254, 254, 254, 0.8);
}

/* ----------------------------------- */

.owl-prev:before, .owl-next:before {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 17px;
    background: rgba(255, 255, 255, 1);
    transform: rotate(45deg);
}

.owl-next:before {
    content: "\f105";
    font-family: 'FontAwesome', sans-serif;
    left: auto;
    right: 0;
    font-size: 15px;
    color: black;
}

.owl-carousel .owl-nav button.owl-prev:before {
    content: "\f104";
    font-family: 'FontAwesome', sans-serif;
    right: auto;
    left: 0;
    font-size: 15px;
    color: black;
}


/* ==== END CAROUSEL | WHAT PEOPLE SAY? | SECTION 9 Style == */

/* ================ LATEST NEWS | SECTION 10 Style ========== */

.col-xs-6 {
    width: 50%;
}

.fa-angle-right:before {
    content: "\f105";
    font-size: 12px;
}

.all-news a {
    float: right;
}

.news-block {
    padding-bottom: 50px;
}

.news-block img {
    width: 100%;
    filter: grayscale(1);
    transition: 0.2s;
}

.news-block img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.news-block a, .all-news a, .read-more-btn a {
    text-decoration: none;
}

.news-block h3 {
    letter-spacing: 0.2em;
    color: rgba(119, 119, 119, 1);
    margin-bottom: 6px;
}

.news-block span, .all-news a {
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    color: rgba(153, 153, 153, 1);
    font-weight: 400;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.news-block span {
    margin-bottom: 15px;
}

.news-block img, .news-block p {
    margin-bottom: 21px;
}

.read-more-btn {
    border-radius: 2px;
    border: 1px solid transparent;
}

.read-more-btn a {
    border-radius: 2px;
    border: 1px solid transparent;
    letter-spacing: 0.2em;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(119, 119, 119, 1);
    background-color: rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 8px 14px;
}

.read-more-btn a:hover {
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.2);
}

/* =========== END LATEST NEWS | SECTION 10 Style ========== */

/* =========== SUBSCRIBE | SECTION 11 Style =============== */

.col-sm-6 h3 {
    letter-spacing: 0.3em;
    font-size: 16px;
    font-weight: 300;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-bottom: 23px;
}

.subscribe-form input[type="email"] {
    width: 293px;
    margin-right: 5px;
}

/* ========== END SUBSCRIBE | SECTION 11 Style =========== */

/* ================= CONTACT | SECTION 12 Style ============ */

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    width: 66.666%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
}

.contact-icon {
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.contact-icon:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(17, 17, 17, 1);
    transform: rotate(45deg);
}

.contact .contact-icon .fa-phone:before {
    content: "\f095";
    position: absolute;
    color: rgba(248,248,248,1);
    font-size: 14px;
    line-height: 38px;
    top: -6px;
    left: 7px;
}

.contact .contact-icon .fa-map-marker:before {
    content: "\f041";
    position: absolute;
    color: rgba(248,248,248,1);
    font-size: 14px;
    line-height: 38px;
    top: -6px;
    left: 8px;
}

.contact .contact-icon .fa-envelope:before {
    content: "\f0e0";
    position: absolute;
    color: rgba(248,248,248,1);
    font-size: 14px;
    line-height: 38px;
    top: -6px;
    left: 5px;
}

dt {
    font-size: 12px;
    letter-spacing: 0.3em;
    font-weight: 400;
}

dd {
    color: rgba(68, 68, 68, 1);
}

.contact-form {
    width: 66.6666%;
    margin-right: auto;
    margin-left: auto;
}

form.contact-form .row {
    margin: -5px;
}

form.contact-form .row .col-md-6 {
    padding: 5px;
}

form input[name="name"], 
form input[name="email"],
form textarea[name="message"] {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 2px;
    padding: 6px 12px 0px;
    width: 100%;    
}

form input[name="name"], 
form input[name="email"] {
    height: 37px;
}

form textarea[name="message"] {
    resize: none;
}

form input[name="name"] {
    margin-bottom: 10px;
}

.submit-button {
    text-align: right;
}

input[type="submit"] {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: 0.2em;
    color: rgb(255, 255, 255);
    background-color: rgba(17, 17, 17, 1);
    line-height: 26px;
    padding: 4px 25px;
    cursor: pointer;
}

.form-text span {
    font-weight: 400;
    color: rgba(170, 170, 170, 1);
}

/* ========= END CONTACT | SECTION 12 Style ======== */

/* ================= MAP | SECTION 13 Style =========== */

#map {
    height: 415px;
    width: 100%;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.map-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.95);
    transition: 0.4s;
}

.map-overlay h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    letter-spacing: 0.3em;
}

.map-overlay:hover {
    cursor: pointer;
}

.map-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.map-overlay h3:before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    width: 0;
    background-color: currentColor;
    transition: 0.3s;
    height: 1px;
    bottom: -5px;
    
}

.map-overlay h3:hover:before {
    left: 0;
    right: 0;
    width: 100%;
}

.map-overlay h3:after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 16px;
    letter-spacing: 0.3em;
    margin-left: 10px;
}

.map-section .fa-map-marker {
    display: block;
    position: absolute;
    background-color: rgba(254, 254, 254, 1);
    bottom: 55%;
    right: 51%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    transform: translate(50%, -50%) rotate(45deg);
    text-align: center;
}

.map-section .fa-map-marker:before {
    content: "\f041";
    transform: rotate(-47deg);
    position: absolute;
    top: 3px;
    right: 6px;
    font-size: 14px;
    color: rgba(17, 17, 17, 1);
}

/* =================END MAP | SECTION 13 Style =========== */

/* =================== FOOTER ====================== */

.footer-logo {
    margin-bottom: 30px;
}

.footer-link a {
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 38px;
    position: relative;
    margin: 0 6px;
    text-align: center;
    display: inline-block;
    color: rgba(17, 17, 17, 1);
}

.footer-link a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #111;
    border-radius: 2px;
    transform: rotate(45deg);

}

.fa-facebook:before {
    content: "\f09a";
    position: absolute;
    top: 7px;
    left: 8px;
}

.fa-twitter:before {
    content: "\f099";
    position: absolute;
    top: 6px;
    left: 6px;
}

.fa-behance:before {
    content: "\f1b4";
    position: absolute;
    top: 6px;
    left: 5px;
}

.fa-linkedin:before {
    content: "\f0e1";
    position: absolute;
    top: 6px;
    left: 7px;
}

.fa-pinterest:before {
    content: "\f0d2";
    position: absolute;
    top: 6px;
    left: 6px;
}

.footer-text {
    margin-top: 110px;
}

.footer-text p {
    font-size: 12px;
    letter-spacing: 0.5em;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
    line-height: 24px;
    margin-bottom: 4px;
}

.footer-text span {
    color: rgba(153, 153, 153, 1);
    font-weight: 400;
    line-height: 24px;
}

/* =================== END FOOTER ====================== */

/* ========= Media ========= */

@media (min-width: 576px) {
    .grid-item {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .menu-nav ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    
}

@media (min-width: 768px) {
    h1 {
        font-size: 35px;
        letter-spacing: 0.5em;
    }

    h4 {
        font-size: 15px;
    }

    .section-1 h1+h4 {
        margin-top: 66px;
    }

    .col-md-6 {
        width: 50%;
    }

    .section-140-25 {
        padding-top: 140px;
    }

    .footer-text span, .all-news a, .news-block span{
        font-size: 11px;
    }


    .contact-block {
        flex-direction: row;
    }

    /* .contact-icon {
        margin-right: 10px;
    } */
}

@media (min-width: 992px) {
    h1 {
        font-size: 30px;
        letter-spacing: 1em;
    }

    h4 {
        font-size: 19px;
    }

    .section-1 h1+h4 {
        margin-top: 70px;
    }

    .col-xs-12 {
        width: 50%;
    }

    .grid-item {
        width: 33.3333%;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 30px;
        letter-spacing: 1.5em;
    }

    h4 {
        font-size: 19px;
    }

    .section-1 {
    padding-top: 200px;
    padding-bottom: 200px;
    }

    .section-1 h1+h4 {
        margin-top: 75px;
    }

    .col-xs-12 {
        width: 33.3333%;
    }

    .owl-item-inner {
        width: 45%;
    }

}